<!DOCTYPE html>
<html id="html" lang="es">
<head>
    <title>Olimpo</title>
    <meta charset="utf-8" />
    <%- include('inicio/head')%>
    <link rel="icon" href="/imagenes/favicon.png" type="image/x-icon">
</head>
<body onsubmit="return false" class="main-body app sidebar-mini ltr">
<div class="android-phone-frame">
    <%- include('modal/general1')%>
    <%- include('modal/general2')%>
    <%- include('modal/general3')%>
    <%- include('inicio/sistema')%>

    <%- include('inicio/footer')%>
</div>
</body>
</html>
